<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "##{@posts[:spot]}の投稿" %>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'post', collection: @posts[:posts] %>
    </div>
  </div>
</main>