<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、" %>

      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'post', collection: @posts %>
    </div>
  </div>
</main>
