<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規投稿</h2>
        <%= render partial: 'form', locals: {url: posts_path, method: :post} %>
    </div>
  </div>
</div>